<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oasis.acquiesce.mappers.CommentMapper">

    <insert id="insert" >
        <selectKey order="AFTER" keyProperty="rno" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_comments (bno, commentText, commenter)
        values (#{bno}, #{commentText}, #{commenter})
    </insert>

    <select id="selectOne" resultType="Comment">
        select * from tbl_comments where rno = #{rno}
    </select>

    <delete id="deleteOne">
        delete from tbl_comments where rno = #{rno}
    </delete>

    <update id="updateOne" parameterType="Comment">
        update tbl_comments set commentText = #{commentText}
        where rno = #{rno}
    </update>

    <select id="getList" resultType="Comment">
        select * from tbl_comments
        where bno = #{bno} and rno > 0
        limit #{cri.skip}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int">
        select count(rno) from tbl_comments where bno = #{bno}
    </select>
</mapper>